Xft.dpi:        96x96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:	lcddefault

! Bell
URxvt.urgentOnBell: True

! Fonts
URxvt*font: xft:Source Code Pro:size=12,xft:Noto Color Emoji:pixelsize=8
! URxvt*font: xft:Inconsolata for Powerline
! URxvt*font: xft:Noto Mono for Powerline:size=9
! URxvt*font: xft:Droid Sans Mono for Powerline-15
! URxvt*font: xft:Meslo LG L DZ for Powerline-11

! Same fonts as above
URxvt*imFont:
URxvt*italicFont:
URxvt*boldFont:
URxvt*boldItalicFont:

! Always use font glyphs
URxvt*skipBuiltinGlyphs: true

! Buffer size
URxvt*saveLines: 10000

! No scroll bars
URxvt*scrollBar: false

! Scroll in tmux
URxvt*secondaryScroll:  true

! Url matcher
URxvt.perl-ext-common: default,resize-font,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Colors (Solarized)
!URxvt*foreground: #839496
!URxvt*background: #002b36
!URxvt*color0: #073642
!URxvt*color1: #dc322f
!URxvt*color2: #859900
!URxvt*color3: #b58900
!URxvt*color4: #268bd2
!URxvt*color5: #d33682
!URxvt*color6: #2aa198
!URxvt*color7: #eee8d5
!URxvt*color8: #002b36
!URxvt*color9: #cb4b16
!URxvt*color10: #586e75
!URxvt*color11: #657b83
!URxvt*color12: #839496
!URxvt*color13: #6c71c4
!URxvt*color14: #93a1a1
!URxvt*color15: #fdf6e3

! Colors (Tomorrow Night Eighties)
!#define t_comment #999999
!#define t_red #f2777a
!#define t_orange #f99157
!#define t_yellow #ffcc66
!#define t_green #99cc99
!#define t_aqua #66cccc
!#define t_blue #6699cc
!#define t_purple #cc99cc
!*.foreground: t_foreground
!*.background: t_background
!*.cursorColor: #aeafad
!! Black / Grey
!*.color0: #000000
!*.color8: #666666
!! Red / Bright Red
!*.color1: t_red
!*.color9: #FF3334
!! Green + Bright Green
!*.color2: t_green
!*.color10: #9ec400
!! Yellow (Orange) + Bright Yellow (Yellow)
!*.color3: t_orange
!*.color11: t_yellow
!! Blue + Bright Blue
!*.color4: t_blue
!*.color12: t_blue
!! Magenta (Purple) + Bright Magenta
!*.color5: t_purple
!*.color13: #b777e0
!! Cyan (Aqua) + Bright Cyan
!*.color6: t_aqua
!*.color14: #54ced6
!! Light Grey (Selection) + White (Current Line)
!*.color7: t_selection
!*.color15: t_current_line

! Colors (Mustang)
! *background:#1a1a1a
! *foreground:#fff
! *color0:#000000
! *color1:#ff6565
! *color2:#93d44f
! *color3:#eab93d
! *color4:#204a87
! *color5:#ce5c00
! *color6:#89b6e2
! *color7:#cccccc
! *color8:#555753
! *color9:#ff8d8d
! *color10:#c8e7a8
! *color11:#ffc123
! *color12:#3465a4
! *color13:#f57900
! *color14:#46a4ff
! *color15:#ffffff

!bubblegum colorscheme, based on bloom vim theme and xoria----------------------

!black.normal     : bubblegum darkgray
!black.bright     : bubblegum medgreylo
URxvt.color0      : #303030
URxvt.color8      : #a3a3a3

!red.normal       : red.bright.r - 8
!red.bright       : xoria256.Special.guifg
URxvt.color1      : #d75f5f
URxvt.color9      : #d787af

!green.normal     : green.bright.g - 8
!green.bright     : xoria256.PreProc.guifg
URxvt.color2      : #00af87
URxvt.color10     : #5faf5f

!yellow.normal    : yellow.bright.rg - 8
!yellow.bright    : xoria256.Special.guifg
URxvt.color3      : #afd75f
URxvt.color11     : #d7af5f

!blue.normal      : blue.bright.b - 8
!blue.bright      : xoria256.Statement.guifg
URxvt.color4      : #5fafd7
URxvt.color12     : #87afd7

!magenta.normal   : magenta.bright.rb - 8
!magenta.bright   : xoria256.Identifier.guifg
URxvt.color5      : #8787af
URxvt.color13     : #8787d7

!cyan.normal      : cyan.bright.gb - 8
!cyan.bright      : green.bright + blue.bright
URxvt.color6      : #00afd7
URxvt.color14     : #87afff

!white.normal     : white.bright.rgb - 8
!white.bright     : xoria256.Folded.guifg
URxvt.color7      : #ffffff
URxvt.color15     : #ffffff

!foreground       : xoria256.Normal.guifg
!background       : xoria256.Normal.guibg
!cursor           : xoria256.Cursor.guibg
URxvt.foreground  : #a8a8a8
URxvt*depth: 32
URxvt*background: [90]black

URxvt.cursorColor : #d787af

!bold             : xoria256.Type.guifg
!underline        : xoria256.htmlValue.guifg
URxvt.colorBD     : #5fafd7
URxvt.colorUL     : #00afd7
